{% extends "page.njk" %}
{% block head %}
{{super()}}
{% endblock %}
{% block branding %}
{{super()}}
{% endblock %}
{% block pageContent %}
<h2>Posts</h2>
<ul>
{% for post in collections.blog %}
<li><a href="{{post.path}}">{{post.title}}</a></li>
{% endfor %}
</ul>
{% endblock pageContent %}
