{% import "menu.mac" as menu %}
<!DOCTYPE html>
<html>
{% block page %}
<head>
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}">
<meta name="generator" content="metalsmith">

<title>{{siteTitle}} - {{title}}</title>
<style>
nav ul {list-style-type: none;}
</style>

{% endblock head %}
</head>
<body>
<nav aria-label="site">
{% block siteNavigation %}
{% call menu.menu ("top level") %}
{% call menu.menuItem(label="blog", hasLink="blog/index.html") %}
{% call menu.menu() %}
{% for post in collections.blog %}
{{menu.link("{{post.path}}", "{{post.title}}")}}
{% endfor %}
{% endcall %}
{% endcall %}

{{menu.link("about.html", "About")}}

{% call menu.menuItem(label="dummy", hasLink="https://www.mit.edu/") %}
{% call menu.menu() %}
{{menu.action(label="action one")}}
{{menu.action(label="action two")}}
{% endcall %}
{% endcall %}
{% endcall %}
{% endblock siteNavigation %}
</nav>
<main>
{% block branding %}
<h1>{{ title }} - {{siteTitle}}</h1>
<p>{{ description }}</p>
{{contents | safe}}
{% endblock branding %}
<hr>
{% block pageContent %}
{% endblock %}
</main>
<footer>
<p>--end--</p>
</footer>

<script>
const navMenuTogglers = [...document.querySelectorAll("nav button[aria-haspopup=true]")];

document.querySelector("nav").addEventListener("click", e => {
const toggler = e.target;
if (toggler.hasAttribute("aria-haspopup")) toggleMenu(toggler);
});

function toggleMenu (toggler) {
const menu = toggler.nextElementSibling;
toggler.setAttribute("aria-expanded", (menu.hidden = !menu.hidden)?
"false" : "true");
} // toggleMenu
</script>
</body>
{% endblock page %}
</html>
